body {
  background-color: rgb(238, 238, 238);
  display: flex;
  /* justify-content: center; */
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  height: calc(50vh + 40vh);
  background-color: aqua;
  /* margin: 5px; */
  /* background-color: rgb(238, 238, 238); */
  /* height: 100vh; */
}

.container ul {
  display: flex;
  /* gap: 15px; */
  background-color: rgb(238, 238, 238);
  /* height: 40vh; */
}

.container ul li {
  display: flex;
  flex: 0 0 20%;
  background-color: red;
  /* justify-content: space-between; */
}

.container img {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 8px rgb(117, 114, 114);
  width: 220%;
  height: 150%;
  flex: 0 0 20%;
  flex-shrink: 1;
  background-color: blue;
  padding: 1px;
}

.container ul li img:nth-child(2) {
  /* padding: 0 8px; */
  background-color: black;
  padding: 1px;
  /* width: 220%  ; */
  /* height: 150%; */
}
