:root {
  --background-url: url("../images/background.png");
  --form-background-url: url("../images/form-background.png");
  --text-color: #948f8f;
  --h-color: rgb(100, 95, 95);
  --btn-color: rgb(179, 34, 34);
  --shadows: #818181;
}

body {
  font-family: "Mulish", sans-serif;
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  background-image: var(--form-background-url);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 15px var(--shadows);
  position: absolute;
  width: 50%;
  height: 57vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register {
  width: 50%;
  margin: 50px 0 20px 30px;
}

.register h1 {
  text-transform: uppercase;
  color: var(--h-color);
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.inputGroup {
  margin-left: 6px;
}

.inputGroup,
.fName,
.lName {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

input {
  border-radius: 20px;
  border: 1px solid #cccccc;
  height: 35px;
}

label {
  color: var(--text-color);
  margin-bottom: 5px;
}

.double {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.fName,
.lName input {
  width: 210px;
}

.fName,
.lName {
  padding: 0;
}

.margin input {
  height: 12px;
  margin-left: 15px;
}

button {
  display: block;
  color: white;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 20px;
  text-transform: uppercase;
  width: 155px;
  padding-left: 15px;
  margin: 10px 0 0 140px;
}
