@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
  margin: 60px;
}
.user-info div i {
  position: absolute;
}

.icon {
  padding: 6px;
}

.card {
  background-color: #f8f8f8;
  width: 400px;
  border: 1px solid #cfcfcf;
  filter: drop-shadow(1px 1px 5px #e9e9e9);
  padding: 0 0 30px 30px;
  z-index: 2;
}

input {
  width: 250px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.user-info div {
  padding-bottom: 25px;
}

.user-info div:first-of-type {
  padding-top: 30px;
}

.user-info div label {
  padding: 5px;
}

.user-info div:last-of-type label {
  padding-right: 8px;
}

label {
  font-weight: 1000;
}

button {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.login {
  display: inline;
  background-color: #f8f8f8;
  border: 1px solid #cfcfcf;
  filter: drop-shadow(1px 1px 5px #e9e9e9);
  padding: 8px 80px 8px 10px;
  position: relative;
  top: 10px;
  z-index: 1;
}

.login a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 560px) {
  .card {
    width: 350px;
    height: 230px;
  }

  .user-info div:first-of-type {
    padding-bottom: 0;
  }

  .user-info div:last-of-type {
    padding: 10px 0;
  }

  button {
    margin-top: 15px;
  }

  .user-info div i {
    position: relative;
  }

  .icon {
    position: absolute;
    top: 28px;
    right: 82px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 320px;
    height: 200px;
  }

  .user-info div:first-of-type label {
    font-size: 15px;
  }

  .user-info div:last-of-type {
    font-size: 15px;
  }

  .icon {
    font-size: 13px;
    top: 26px;
    right: 80px;
  }

  button {
    margin-top: 0;
  }
}
