@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

:root {
  --gray: #54546d;
  --purple: #9a5dc6;
  --dark-green: #039b3d;
  --light-green: #4ad57f;
  --green-border: #96d9af;
  --gray-border: #a0a0ac;
  --dark-blue: #4d6e8c;
  --light-blue: #619acf;
  --dark-purple: #4b38a6;
  --light-purple: #8b7ce0;
  --d-text-color: #6a6a7c;
  --l-text-color: #d3c8ba;
  --f-color: #8a879a;
  --h-color: #ffffff;
  --red: #fc4f53;
  --table-light: #f8f8f8;
  --table-dark: #e6e6e6;
}

body {
  /* font-family: Lato; */
  font-family: Montserrat;
}
h2,
h3 {
  /* font-family: Montserrat; */
}
/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header div img {
  margin-left: 60px;
}

header p {
  grid-column: 1 / span 2;
  background-color: var(--gray);
  color: white;
  text-align: center;
  padding: 50px 0 150px 0;
  font-size: 20px;
}

/* List */
ul {
  display: flex;
  gap: 10px;
  margin-left: 35%;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  color: var(--d-text-color);
}

/* Three boxes */
.three-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  position: absolute;
  top: 200px;
  left: 10%;
  width: 80%;
  text-align: center;
}

.three-boxes h2 {
  font-size: 17px;
  padding-bottom: 10px;
}

.three-boxes p {
  font-size: 10px;
}

.three-boxes p:nth-of-type(2) {
  padding: 8px;
}

.three-boxes .first-box,
.three-boxes .second-box,
.three-boxes .third-box {
  height: 220px;
  background-color: white;
  border: 1px solid var(--gray-border);
  border-radius: 6px;
}

.three-boxes .second-box .second,
.three-boxes .third-box .second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first {
  height: 150px;
  padding: 15px 10px 20px 10px;
}

.second {
  padding: 13px 0 10px 0;
}

.second div {
  padding: 0 9px;
}

.second:nth-of-type(2) div:first-of-type,
.second:nth-of-type(3) div:first-of-type {
  border-right: 1px solid white;
}

.second p:first-of-type {
  font-size: 13px;
}

/* color boxes */
.first-box .second {
  background: rgb(3, 155, 61);
  background: linear-gradient(
    90deg,
    rgba(3, 155, 61, 1) 0%,
    rgba(74, 213, 127, 1) 68%
  );
  color: white;
  height: 68px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.second-box .second {
  background: rgb(77, 110, 140);
  background: linear-gradient(
    90deg,
    rgba(77, 110, 140, 1) 0%,
    rgba(97, 154, 207, 1) 68%
  );
  color: white;
  height: 68px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.third-box .second {
  background: rgb(75, 56, 166);
  background: linear-gradient(
    90deg,
    rgba(75, 56, 166, 1) 0%,
    rgba(139, 124, 224, 1) 68%
  );
  color: white;
  height: 68px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

button {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

/* Table part */
.table-part {
  padding-top: 150px;
}

.table-part h2 {
  padding: 15px 160px;
  font-size: 17px;
  font-weight: 500;
}

.table-part p {
  padding: 0 160px;
  font-size: 12px;
}

table {
  background-color: var(--table-light);
  width: 70%;
  margin-left: 15%;
  margin-top: 25px;
  border-collapse: collapse;
  font-size: 13px;
}

table tr:nth-child(odd) {
  background-color: var(--table-dark);
}

td {
  padding: 10px;
  border-color: transparent;
}

.fa-check {
  color: var(--light-green);
  font-size: 14px;
  padding: 0 30px 0 20px;
}

.fa-times {
  color: var(--red);
  font-size: 16px;
  padding: 0 20px;
}

/* Finance */

.finance {
  display: flex;
  padding: 50px 100px;
}
.finance .postbank {
  width: 200px;
  height: 80px;
  margin-top: 80px;
}

.finance h2 {
  font-weight: 500;
}

.finance p {
  margin: 20px 0;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: var(--gray);
  padding: 20px 0;
  text-align: center;
}
footer p {
  color: white;
  opacity: 0.5;
}
