body {
  background-color: #eee;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
}

header,
main,
aside,
footer {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  color: #000;
  filter: drop-shadow(1px 2px 3px #b1ac9f);
  height: 60px;
}

header,
footer {
  flex-basis: 100%;
}

main {
  flex-grow: 2;
  height: 250px;
}

aside {
  flex-grow: 1;
  height: 250px;
}

p {
  margin: -15px;
  text-transform: uppercase;
}
