body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.viewport {
  height: 50vh;
  /* width: 100%; */
  /* position: relative; */
}
.viewport:first-of-type {
  background-color: #051937;
  background-image: linear-gradient(
    to right,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.viewport:last-of-type {
  background-color: #845ec2;
  background-image: linear-gradient(
    to right,
    #845ec2,
    #c05cb0,
    #e66599,
    #fa7a82,
    #ff9671
  );
}

.viewport:first-of-type img {
  grid-column: 2 / 3 span;
}
