@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

:root {
  --bgr-col: #d5ebea;
  --white: white;
}

body {
  font-family: Helvetica, sans-serif;
}
