:root {
  --green: #b2f1dd;
  --dark-green: #16d18f;
}

body {
  font-family: "PT Sans", sans-serif;
}

header {
  background-image: linear-gradient(
      to top,
      transparent 0%,
      rgb(100, 98, 98) 100%
    ),
    url(../image/computer-main.jpg);
  background-position: center;
  background-size: cover;
}

header {
  height: 42vh;
}
header .text {
  width: 350px;
  margin-left: 80px;
}

header div {
  position: absolute;
  top: 130px;
  left: 20%;
  text-align: center;
  color: white;
}
header div h1 {
  letter-spacing: 2px;
}

header ul li {
  list-style-type: none;
  margin: 20px 0;
}

header ul li:last-of-type {
  margin-left: 200px;
}
header ul li a {
  text-decoration: none;
  color: white;
}

header div button {
  background-color: var(--dark-green);
  color: white;
  border: none;
  padding: 3px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 50px;
}

header div div {
  position: absolute;
  top: 210px;
  left: 200px;
  display: flex;
}

header div div i {
  align-self: flex-end;
  margin: 0 0 2px 5px;
}

header i {
  color: white;
  margin-right: 5px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1;
}
main section:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1;
  padding: 20px 50px;
}

main section:nth-child(2) h2 {
  font-size: 20px;
}

main section:nth-child(2) div {
  display: flex;
  gap: 25px;
  margin: 10px 0;
}

.fa-check-circle {
  color: var(--dark-green);
  margin-top: 5px;
}

main section:nth-child(4) {
  grid-column: 2 / span 1;
  grid-row: 2;
}

main section:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  width: 70%;
  justify-self: center;
  text-align: center;
}

main section:nth-child(3) h2 {
  grid-column: 1 / span 3;
}

main section:nth-child(3) p {
  color: var(--dark-green);
  font-size: 13px;
  font-weight: 600;
}

header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}

header ul {
  display: flex;
  flex-direction: row;
}

header ul li {
  list-style-type: none;
}

header ul li:first-of-type {
  text-decoration: none;
  color: aqua;
  position: absolute;
  top: 20px;
  left: 100px;
}

header ul li:last-of-type {
  position: absolute;
  top: 20px;
  left: 500px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  background-color: #b2f1dd;
  text-align: center;
}

footer h2 {
  grid-column: 1 / span 3;
  padding-top: 20px;
}
footer span {
  grid-column: 2 / span 1;
  padding-bottom: 20px;
}
