body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  margin-left: 150px;
}

h2 {
  font-family: Georgia, serif;
  line-height: 1.2;
}

section {
  display: flex;
  justify-content: space-evenly;
  max-width: 70vw;
}

article {
  width: 20vw;
  box-sizing: border-box;
  padding-left: 10px;
}

h2,
p {
  width: 85%;
}
